excludes=**/integrationTests/** **/*javadoc.jar
fileSystemScan=False
resolveAllDependencies=False

gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.resolveDependencies=True
gradle.excludeModules=integrationTests

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
